<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Character movement</title>
</head>
<body>
    <p style="font-family: monospace">{{ field | safe }}</p>
    <form method="POST">
        <button id="up" name="up" value="up" type="submit">Up</button>
        <button id="down" name="down" value="down" type="submit">Down</button>
        <button id="left" name="left" value="left" type="submit">Left</button>
        <button id="right" name="right" value="right" type="submit">Right</button>
    </form>
</body>
</html>
